<div>
    <br>
    <br>
    <h1 class = "centerThis">Listings for Sale</h1>
    <br>
    <h3>Add a new property for sale:</h3>
    <br>

    
    <form ng-submit="listing.addListing(listing.newListing)">
        <label for="city">Location: </label>
        <input type="text" ng-model="listing.newListing.city" id="city" placeholder="City" />
        <label for="sqft">Square Footage: </label>
        <input type="number" ng-model="listing.newListing.sqft" id="sqft" placeholder="Square Footage" />
        <label for="sale">Sale Price: </label>
        <input type="number" ng-model="listing.newListing.cost" id="cost" placeholder="Sale Price" />
        <button class="btn btn-primary">Add Property For Sale</button>
    </form>
<br>
<br>
    <div class="container">
        <div class="row">
            <table class="table table-hover table-fixed">
                <thead>
                    <tr class = "fixed-top">
                        <th>Location</th>
                        <th>Square Footage</th>
                        <th>Sale Price</th>
                        <td>Remove Property</td>
                    </tr>
                </thead>
                <!--end Table header this might be rental.rental-->
                <tr ng-repeat="house in listing.listings track by $index">
                    <td>{{house.city}}</td>
                    <td>{{house.sqft}}</td>
                    <td>{{house.cost}}</td>
                    <td>
                    <button ng-click="listing.delete(house._id)" class="btn btn-danger">
                        Delete Property</button></td>
                </tr>
                <!--end ng repeat-->
            </table>
            <!--end Hover table-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

</div>
<!--end div-->