<div class="rentals container">
    <br>
    <br>
    <br>

    <h1 class="centerThis">Properties for Rent</h1>
    <br>
    <div class="jumbotron view">
        <h3>Add a new property for rent:</h3>
        <br>

        <form ng-submit="rental.addRental(rental.newRental)">
            <label for="city">Location: </label>
            <input type="text" ng-model="rental.newRental.city" id="city" placeholder="City" />
            <label for="sqft">Square Footage: </label>
            <input type="number" ng-model="rental.newRental.sqft" id="sqft" placeholder="Square Footage" />
            <label for="rent">Rent: </label>
            <input type="number" ng-model="rental.newRental.rent" id="rent" placeholder="Annual Rent" />
            <button class="btn btn-primary">Add Rental Property</button>
        </form>
    </div>
    <!--End Jumbotron form div-->
    <div class="jumbotron view" ng-show="rental.edit.editing">
        <h3>Update Property</h3>
        <br>
        <label for="city">Update Location: </label>
        <input type="text" ng-model="rental.updatedRental.city" id="city" placeholder="{{rental.updatedRental.city}}" />
        <label for="sqft">Update Square Footage: </label>
        <input type="number" ng-model="rental.updatedRental.sqft" id="sqft" placeholder="{{rental.updatedRental.sqft}}" />
        <br>
        <label for="rent">Update Rent: </label>
        <input type="number" ng-model="rental.updatedRental.rent" id="rent" placeholder="{{rental.updatedRental.rent}}" />
        <br>
        <button class="btn btn-success" ng-click="rental.updatedInformation(rental.updatedRental.id, rental.updatedRental.city, rental.updatedRental.sqft, rental.updatedRental.rent)">Update Rental Property</button>
        <button class="btn btn-warning" ng-click="rental.cancelEdit()">Cancel</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="rental.citySearch(rental.citySearch.value, rental.citySearch.searchKeyword)">
                <label for="value">Search By:</label>
                <select ng-model="rental.citySearch.value" id="value">
                    <option value="city">City:</option>
                    <option value="sqft">Square Footage Greater Than or Equal To:</option>
                    <option value="rent">Rent Less Than or Equal To:</option>
                </select>
                <label for="search"></label>
                <input type="text" ng-model="rental.citySearch.searchKeyword" id="search" />
                <button class=".btn-primary">Search for Rentals</button>
            </form>
            <!--End Search Form-->
        </div>
        <!-- End col-md-12 div-->
    </div>
    <!-- End Search "row" div -->
    <br>
    <br>

    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Square Footage</th>
                        <th>Rent</th>
                        <th>Remove Property</th>
                        <th>Update Property</th>
                    </tr>
                </thead>
                <!--end Table header this might be rental.rental-->
                <tr ng-repeat="house in rental.rentals.data track by $index">
                    <td>{{house.city}}</td>
                    <td>{{house.sqft}}</td>
                    <td>{{house.rent}}</td>
                    <td>
                        <button ng-click="rental.delete(house._id)" class="btn btn-danger">Delete</button>
                    </td>
                    <td>
                        <button ng-click="rental.update(house._id, house.city, house.sqft, house.rent)" class="btn btn-success">Update</button>
                    </td>
                </tr>
                <!--end ng repeat-->
            </table>
            <!--end Hover table-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>